/*-------------main----------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: "SolomonSansNormal", sans-serif;
  font-size: 12px;
  line-height: initial; }

.slide {
  position: relative;
  width: 100%;
  background-size: cover; }

.slide-title_wrap {
  display: block;
  position: absolute;
  left: 300px;
  top: 30px;
  width: -webkit-calc(50% - 100px);
  width: calc(50% - 100px); }

.slide-title {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  letter-spacing: .1px;
  position: relative;
  font-size: 34px;
  font-family: 'SolomonSansLight', sans-serif; }

.langs {
  width: 128px;
  position: absolute;
  right: 0;
  top: 40px;
  height: 25px;
  line-height: 28px;
  overflow: hidden;
  text-align: left;
  padding: 0 0 0 9px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(2, 3, 3, 0.4);
          box-shadow: 0 1px 2px 0 rgba(2, 3, 3, 0.4);
  font-size: 12px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }

.lang-item {
  float: left; }

.lang-item a, .lang-item a:visited {
  font-size: 12px;
  margin-right: 11px; }

.lang-item:hover,
.lang-item a.active {
  color: #e77983; }

.menu-item a:hover,
.menu-item a.active {
  border-bottom: 2px solid #e77983;
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 20px;
  width: 240px;
  height: 100%;
  padding: 20px 20px 0;
  background-color: rgba(165, 155, 147, 0.9);
  text-align: center;
  z-index: 555; }

.logo {
  width: 50%; }

.menu {
  border-top: 1px solid #d1ccc7;
  padding: 10px 0; }

.menu-item {
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  font-family: 'SolomonSansNormal', sans-serif;
  letter-spacing: 2px; }

.menu-item a {
  text-transform: uppercase;
  border-bottom: 2px solid rgba(231, 121, 131, 0);
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.phones {
  border-top: 1px solid #d1ccc7;
  padding: 10px 0; }

.phones-item {
  padding-top: 10px;
  font-size: 25px;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.phones-item:hover {
  opacity: 0.8;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

#arrow-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -28px;
  width: 57px;
  height: 57px;
  border: 1px solid #fff;
  font-size: 45px;
  color: #fff;
  line-height: 52px;
  text-align: center;
  z-index: 5; }

#arrow-down .fa {
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite; }

@-webkit-keyframes blink {
  0% {
    color: #fff; }
  50% {
    color: #FBB; }
  100% {
    color: #e77983; } }

@keyframes blink {
  0% {
    color: #fff; }
  50% {
    color: #FBB; }
  100% {
    color: #e77983; } }

#arrow-down:hover {
  border: 1px solid #e77983;
  color: #e77983;
  cursor: pointer; }

.owl-prev,
.owl-next {
  z-index: 2;
  position: absolute;
  width: 57px;
  height: 57px;
  border: 1px solid #fff;
  top: 50%;
  font-size: 45px;
  color: #fff;
  line-height: 52px;
  margin-top: -37px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.owl-prev:hover,
.owl-next:hover {
  border: 1px solid #e77983;
  color: #e77983; }

.owl-prev {
  right: 116px; }

.owl-next {
  right: 51px; }

.owl-theme .owl-controls {
  margin-top: 0; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/*
!*Disable Animation on Mobile Devices*!
.animated
  !*CSS transitions*!
-o-transition-property: none !important
-moz-transition-property: none !important
-ms-transition-property: none !important
-webkit-transition-property: none !important
transition-property: none !important
!*CSS transforms*!
-o-transform: none !important
-moz-transform: none !important
-ms-transform: none !important
-webkit-transform: none !important
transform: none !important
!*CSS animations*!
-webkit-animation: none !important
-moz-animation: none !important
-o-animation: none !important
-ms-animation: none !important
animation: none !important
*/
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
